#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*#Dark {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#Light {
  background-color: seashell;
  color: rgb(0, 0, 0);
}*/